# Dependencias de Node.js
node_modules/
cafeteria-react/node_modules/
Backend/node_modules/

# Builds de producción
dist/
build/
.cache/

# Variables de entorno
.env
.env.local

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
